{% extends 'pantry/index.html' %}
{% load static %}
{% load bulma_tags %}

{% block pantry_content %}

<div class="page-section list-entry-section ingredient-entry-section">
    <div class="form-container form-add-container">
        <div class="label form-label">Add an ingredient<a href="{% url 'pantry:ingredients' %}">View all</a></div>
        <form action="{% url 'pantry:add_ingredient' %}" method="post">
            {% csrf_token %}
            {{ form|bulma }}
            <div class="submit-button-container">
                <input type="submit" class="button is-primary" value="Add" />
            </div>
        </form>
    </div>
</div>

{% endblock pantry_content %}

{% block pantry_scripts %}
<script src="{% static 'pantry/js/pantry-scripts.js' %}"></script>
<script src="{% static 'pantry/js/pantry-ingredients-scripts.js' %}"></script>
{% endblock pantry_scripts %}