{% extends 'pantry/index.html' %}
{% load static %}
{% load bulma_tags %}

{% block pantry_content %}

<div class="page-section list-section list-items-section">
    <div class="list-container list-ingredients-container">
        <div class="label list-label list-label-ingredients">All food items<a href="{% url 'pantry:add_food_item' %}">Add</a></div>
        {% if food_items_list %}
        <table class="table list-table list-items-table">
            <thead>
                <tr>
                    <th><abbr title="Ingredient">Ingredient</abbr></th>
                    {% if packaging_types_exist %}<th><abbr title="Packaging Type">Pkg. Type</abbr></th>{% endif %}
                    <th><abbr title="Location">Location</abbr></th>
                    <th><abbr title="Multi-use"><div class="table-cell-centered">Multi-use</div></abbr></th>
                    <th><abbr title="Date Expires">Expy. Date</abbr></th>
                </tr>
            </thead>
            <tbody>
                {% for food_item in food_items_list %}
                    {% comment %}{% if food_item.quantity > 0 %}{% endcomment %}
                    <tr>
                        <td><a href="{% url 'pantry:show_ingredient' food_item.ingredient.id %}">{{ food_item }}</a></td>
                        {% if packaging_types_exist %}<td>{{ food_item.packaging_type.name }}</td>{% endif %}
                        <td>{{ food_item.location.name }}</td>
                        <td ><div class="table-cell-centered">{% if food_item.multi_use %}Yes{% else %}No{% endif %}</div></td>
                        <td>{{ food_item.date_expires }}</td>
                    </tr>
                    {% comment %}{% endif %}{% endcomment %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="notice list-notice">There are no food items in the database.</div>
        {% endif %}
    </div>
</div>

{% endblock pantry_content %}

{% block pantry_scripts %}
<script src="{% static 'pantry/js/pantry-scripts.js' %}"></script>
<script src="{% static 'pantry/js/pantry-items-scripts.js' %}"></script>
{% endblock pantry_scripts %}