{% extends 'base.html' %}
{% load static %}

{% block title %}pantry{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'pantry/css/pantry-styles.css' %}">{% endblock css %}

{% block page_header %}
Pantry - kitchen inventory
{% endblock page_header %}

{% block content %}

{% if page_name == "pantry_index" %}

<a href="{% url 'pantry:ingredients' %}">
    <div class="pantry-link-section pantry-ingredients-link unselectable">Ingredients</div>
</a>

<div class="section-divider no-bottom-margin no-top-margin"></div>

<a href="{% url 'pantry:food_items' %}">
    <div class="pantry-link-section pantry-ingredients-link bottom unselectable">Items</div>
</a>

{% endif %}

{% block pantry_content %}{% endblock pantry_content %}

{% endblock content %}

{% block scripts %}
    {% block pantry_scripts %}{% endblock pantry_scripts %}
{% endblock scripts %}