{% extends 'pantry/index.html' %}
{% load static %}
{% load bulma_tags %}

{% block pantry_content %}

<div class="page-section list-section list-ingredients-section" data-token="{{ csrf_token }}">
    <div class="list-container list-ingredients-container">
        <div class="label list-label list-label-ingredients">All ingredients<a href="{% url 'pantry:add_ingredient' %}">Add</a></div>
        <table class="table list-table list-ingredients-table">
            {% if ingredients_list %}
            {% for ingredient in ingredients_list %}
            <tr class="list-item-container">
                <td class="list-item-cell list-item-name list-ingredients-item">
                    <a href="{% url 'pantry:show_ingredient' ingredient.id %}">{{ ingredient }}</a>
                </td>

                {% comment %}
                <td class="list-item-cell list-item-icon">
                    {% if ingredient.temperature_controlled %}<i class="fa-solid fa-temperature-low"></i>{% endif %}
                </td>
                {% endcomment %}

                {% comment %}
                <td class="list-item-cell list-item-delete list-ingredients-item-delete {% if dark_mode == True %}dark{% else %}light{% endif %}"
                    data-id="{{ ingredient.id }}">
                    <button class="delete"></button>
                </td>
                {% endcomment %}
            </tr>
            {% endfor %}
            {% else %}
            <div class="notice list-notice">There are no ingredients in the database.</div>
            {% endif %}
        </table>
    </div>
</div>

<div class="modal modal-confirm-delete">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Are you sure?</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-danger">Delete</button>
                <button class="button">Cancel</button>
            </div>
        </footer>
    </div>
</div>

{% endblock pantry_content %}

{% block pantry_scripts %}
<script src="{% static 'pantry/js/pantry-scripts.js' %}"></script>
<script src="{% static 'pantry/js/pantry-ingredients-scripts.js' %}"></script>
{% endblock pantry_scripts %}