{% extends 'pantry/index.html' %}
{% load static %}

{% block title %}pantry{% endblock %}


{% block content %}

<div class="page-section">
    <div class="item-container" data-id="{{ ingredient.id }}" data-token="{{ csrf_token }}">
        <div class="label item-label">
            <div class="label-section label-section-left label-section-name">
                <div class="name-container editable-record-property" id="ingredient-name-container" data-prop="name" data-inputtype="text">{{ ingredient }}</div>
            </div>
            <div class="label-section label-section-right item-icon-button-container">
                <i class="fa-regular fa-pen-to-square"></i>
            </div>
        </div>
        <div class="label item-label">
            <div class="label-section label-section-center label-section-full min-height-line-height">
                <div class="edit-notice has-text-info section-inactive">Editing</div>
                <div class="delete-notice has-text-danger section-inactive">Deleting</div>
            </div>
        </div>
        <div class="description-container ingredient-description-container">
            <div class="description-item">
                <div class="description-name">Grocery type:</div>
                <div class="description-value">
                    {% if ingredient.grocery_type %}<a href="#">{% endif %}
                        <div class="editable-record-property" id="ingredient-grocery_type-container" data-prop="grocery_type" data-inputtype="select">
                            {% if ingredient.grocery_type %}
                            {{ ingredient.grocery_type.name }}
                            {% else %}
                            N/A
                            {% endif %}
                        </div>
                        {% if ingredient.grocery_type %}</a>{% endif %}
                </div>
            </div>
            {% comment %}<!-- {% if ingredient.substitute_key.name %} -->{% endcomment %}
            <div class="description-item">
                <div class="description-name">Substitute key:</div>
                <div class="description-value">
                    {% if ingredient.substitute_key %}<a href="#">{% endif %}
                        <div class="editable-record-property" id="ingredient-substitute_key-container" data-prop="substitute_key" data-inputtype="select">
                            {% if ingredient.substitute_key %}
                            {{ ingredient.substitute_key.name }}
                            {% else %}
                            N/A
                            {% endif %}
                        </div>
                        {% if ingredient.substitute_key %}</a>{% endif %}
                </div>
            </div>
            {% comment %}<!-- {% endif %} -->{% endcomment %}
        </div>
        <div class="confirm-section section-inactive">
            <div class="button-container button-confirm-container update-container">
                <button class="button button-confirm button-update is-success">Update</button>
            </div>
            <div class="button-container button-confirm-container delete-container section-inactive">
                <button class="button button-confirm button-delete is-danger">Delete</button>
            </div>
            <div class="button-container button-confirm-container cancel-container">
                <button class="button button-confirm button-cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block pantry_scripts %}
<script src="{% static 'pantry/js/pantry-ingredients-scripts.js' %}"></script>
<script src="{% static 'pantry/js/pantry-scripts.js' %}"></script>
{% endblock pantry_scripts %}