# hidden files
.env

# python
env/*

# django
staticfiles/*

# server scripts
activate
entry
pull
restart
run
run_server
start
status
stop

# clutter
**__pycache__**
**.pyc
.DS_Store
