# hidden files
.env

# python
env/*

# django
staticfiles/*

# server scripts
activate
entry
pull
restart
run_server
run_local
start
status
stop

# clutter
**__pycache__**
**.pyc
.DS_Store
