{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="{% if dark_mode == False %}light{% else %}dark{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock title %}</title>
        <script src="https://kit.fontawesome.com/d651e0fb71.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/tag-picker.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/bulma-overrides.css' %}">
        {% block css %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/base-navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/base-styles.css' %}">
    </head>

    <body>
    {% include 'fragments/navbar-main.html' %}

    <div class="page-header">
        <div class="page-header-text unselectable">{% block page_header %}{% endblock page_header %}</div>
    </div>

    <div class="page-content">
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'base/js/base-scripts.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    </body>
</html>