{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="{% if theme in 'dark,light' %}{{ theme }}{% else %}dark{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock title %}</title>
        {% comment %}<!-- icons -->{% endcomment %}
        <script src="https://kit.fontawesome.com/d651e0fb71.js" crossorigin="anonymous"></script>
        {% comment %}<!-- fonts -->{% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap">
        {% comment %}<!-- external styles -->{% endcomment %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/tag-picker.css' %}">
        {% comment %}<!-- custom styles -->{% endcomment %}
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/bulma-overrides.css' %}">
        {% block css %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/base-navbar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base/css/base-styles.css' %}">
    </head>

    <body>
    {% include 'fragments/navbar-main.html' %}

    <div class="page-header">
        <div class="page-header-text unselectable">{% block page_header %}{% endblock page_header %}</div>
    </div>

    <div class="page-content">
        <div class="no-click {% if navbar_is_active %}is-active{% else %}{% endif %}"></div>
        {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'base/js/document-functions.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
    <script src="{% static 'base/js/base-navbar.js' %}"></script>
    <script src="{% static 'base/js/base-handlers.js' %}"></script>
    <script src="{% static 'base/js/base-scripts.js' %}"></script>
    </body>
</html>