.pantry-link-section {
    padding: 15px 12px;
}

.list-entry-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container, .list-container {
    width: 90%;
}

.submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.label {
    font-weight: bold;
    margin-bottom: 8px;
    width: 100%;
}

.list-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-item-cell {
    width: 100%;
    display: flex;
    padding: 10px 12px;
    align-items: center;
    /* border: 1px dotted red; */
}

.list-item-name {
    justify-content: flex-start;
}

.list-item-icon {
    justify-content: flex-start;
}

.list-item-delete {
    flex-grow: 1;
    width: 20%;
    justify-content: center;
}

.list-item-delete:hover {
    cursor: pointer;
    background-color: hsl(348, 100%, 61%);
    transition-property: background-color;
    transition-duration: var(--bulma-duration);
}

.list-item-name, .notice, .form-field {
    padding-left: 12px;
}

select, .select {
    width: 100%;
}

.list-table {
    width: 100%;
}

.control {
    display: block;
}

.dropdown-item:hover {
    background-color: var(--has-background-primary-light);
}

@media screen and (min-width: 1023px) {  /* for desktop screens */
    .form-container, .list-container {
        width: 60%;
    }

    .list-item, .notice {
        text-align: left;
    }
}