.navbar {
    border-bottom: 1px solid rgb(179, 179, 187);
}

.navbar-brand .navbar-item {
    padding: 0px;
}

.has-dropdown .navbar-dropdown {
    width: 100%;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px !important;
    /* height: auto !important;
    max-height: none !important; */
    font-family: "Lato", serif;
    font-weight: 600;
    font-size: 1.7rem;
    font-style: normal;
}

.navbar-start > * {
    min-width: 90px;
}

.navbar-item-min-width {
    min-width: 140px;
}

.theme-toggle {
    display: flex;
    /* align-items: center; */
    margin: 10px 0px;
}

.theme-toggle.desktop-invisible {
    justify-content: center;
}

.theme-toggle > button {
    font-size: 0.7em;
    margin-right: 20px;
}


@media screen and (min-width: 1023px) {  /* for desktop screens */
    .navbar-item-button {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-item-no-padding {
        padding: 0px;
    }
}