.test {
    border: 1px dotted red;
}

html {
    box-sizing: border-box;
}

div {
    /* border: 1px dotted red; */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-inactive {
    display: none !important;
}

.page-header {
    display: flex;
    height: 10vh;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
}

.section-divider {
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(179, 179, 187);
}

.section-divider.no-bottom-margin {
    margin-bottom: 0px !important;
}

.section-divider.no-top-margin {
    margin-top: 0px !important;
}

.submit-button-container {
    margin-top: 22px;
}


/* .notification-full-page {
    z-index: 200;
    position: absolute;
    top: 20vh;
    width: 50%;
} */

.mobile-invisible {
    display: none;
}

.desktop-invisible {
    display: flex;
}

.display-flex {
    display: flex;
}

.satchel-form {
    width: 100%;
}

.text-input-dropdown {
    display: flex;
}

.dropdown-max-height {
    max-height: 30vh;
    overflow: scroll;
}

.list-entry-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.form-container, .item-container, .list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 28px !important;
    width: 100%;
}

.label-section {
    display: flex;
    padding: 8px;
}

.label-section.label-section-space-around {
    justify-content: space-around;
}

.label-section.label-section-left {
    justify-content: flex-start;
}

.label-section.label-section-center {
    justify-content: center;
}

.label-section.label-section-right {
    justify-content: flex-end;
}

.label-section.label-section-full {
    width: 100%;
}

.label-section-name {
    max-width: 80%;
}

.min-height-line-height {
    min-height: 1.5em;
    padding: 0px;
}


.description-container {
    width: 100%;
    padding: 0% 2%;
    margin-bottom: 28px;
}

.description-container > .description-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.confirm-section {
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    width: 100%;
}

.confirm-section > .button-confirm-container {
    padding: 5px 10px;
}

.button-confirm, .button-delete, .button-cancel {
    min-width: 92px;
}

.item-edit-button-container {
    font-weight: normal;
}

.list-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list-item-cell {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 12px;
}

.list-item-name {
    justify-content: flex-start;
}

.name-container {
    width: 100%;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.list-item-icon {
    justify-content: flex-start;
}

.list-item-delete {
    flex-grow: 1;
    width: 20%;
    display: flex;
    justify-content: center;
}

/* .list-item-delete:hover {
    cursor: pointer;
    background-color: hsl(348, 100%, 61%);
    transition-property: background-color;
    transition-duration: var(--bulma-duration);
} */

.list-item-name, .notice, .form-field {
    padding-left: 12px;
}

select, .select {
    width: 100%;
}

.list-table {
    width: 100%;
}

.table-cell-centered {
    text-align: center;
}

.control {
    display: block;
}

.page-content {
    padding: 0px 5%;
    display: flex;
    justify-content: center;
}

.page-section {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 1023px) {  /* for desktop screens */
    /** keep anything from directly touching the screen edge. **/
    .page-content {
        padding: 0px 2%;
    }

    /** most things will be a small distance from the screen edge. **/
    .page-section {
        width: 90%;
    }

    .mobile-invisible {
        display: flex;
    }

    .desktop-invisible {
        display: none;
    }

    .form-container, .item-container, .list-container {
        width: 40%;
    }

    .list-item, .notice {
        text-align: left;
    }
}