html {
    box-sizing: border-box;
}

div {
    /* border: 1px dotted red; */
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.test {
    color: red;
}

.page-header {
    display: flex;
    height: 10vh;
    margin-bottom: 28px;
    align-items: center;
    justify-content: center;
}

.section-divider {
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid rgb(179, 179, 187);
}

.section-divider.no-bottom-margin {
    margin-bottom: 0px !important;
}

.section-divider.no-top-margin {
    margin-top: 0px !important;
}

.submit-button-container {
    margin-top: 22px;
}


/* .notification-full-page {
    z-index: 200;
    position: absolute;
    top: 20vh;
    width: 50%;
} */

.mobile-invisible {
    display: none;
}

.desktop-invisible {
    display: flex;
}

.display-flex {
    display: flex;
}

.hover-select-light:hover {
    background-color: "hsl(0, 0%, 96%)";
}

.hover-select-dark:hover {
    background-color: "hsl(0, 0%, 21%)";
}

.dropdown-max-height {
    max-height: 30vh;
    overflow: scroll;
}


@media screen and (min-width: 1023px) {  /* for desktop screens */
    .page-content {
        padding: 0px 12%;
    }

    .mobile-invisible {
        display: flex;
    }

    .desktop-invisible {
        display: none;
    }
}